.grid {
    display: grid;
    grid-template-columns: repeat(5, 150px);
    gap: 16px;

    justify-content: center;
}
.text-center{
    display: flex;
    justify-content: center;
}
.timer{
display: block;
  margin: 10px auto;
  position: relative;
  width: 150px;
  height: 50px;
  line-height: 50px;
  background-color: #fff;
  border-radius: 25px;
  border: 2px solid #1abc9c;
  font-size: 40px;
  text-align: center;
  color: #999; 
}
.players-box{
    display: flex;
    justify-content: space-around;
}
.player{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: repeat(2, 150px);
    }
}
