<div class="card" (click)="cardClicked.emit()" [@cardFlip]="data.state">
    <div class="back">
        <img src="assets/card-back.PNG">
    </div>
    <div class="front">
        <img [src]="data.image" [alt]="data.imageId">
        <!-- <div> {{data.image.image | json}}</div> -->
        <!-- <img [src]=" data.image + data.imageId + '/200x300'"> -->

    </div>
</div>